/build/
/dist/
/nbproject/private/
/nbproject/._project.properties
/nbproject/configs/._farmaciajj.properties
/manifest.mf
/nbproject/build-impl.xml
/lib/._javax.persistence.jar
/build.xml
/nbproject/._private
/nbproject/._project.xml
/nbproject/._build-impl.xml
/lib/javax.persistence.jar
/nbproject/._configs
/nbproject/._genfiles.properties